@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}


.navigation {
  display: flex;
}

.logo {
  margin-right: 1rem;
  padding-right: 9.5rem;
  border-right: 2px solid silver;
  padding-top: 1rem;
  padding-left: 5rem;
}

.Search {
  display: flex;
  border-right: 2px solid silver;
  width: 30%;
  padding-top: 1rem;
}

.search-book {
  margin-left: 2rem;
}

.icon {
  width: 30px;
  height: 30px;
}

.TV-path,.Radio-path, .Bell {
  margin-left: 4rem;
  border-right: 2px solid silver;
  padding-right: 5rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.Ellipse {
  display: flex;
  margin-left: 4rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.icon-ellipse {
  width: 50px;
  height: 50px;
}

.icon-crown {
  width: 16px;
  height: 16px;
  margin-right: .5rem;
}

.ellipse-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: .5rem;
}

.text-below {
  display: flex;
}

.title {
  display: flex;
  margin-bottom: 1rem;
}

.left {
  width: 25%;
  margin-top: 4rem;
}

.left h4{
  margin-left: 5rem;
  color: #412CD2;
  font-weight: bold;
  margin-top: 3rem;
}

.right {
  width: 89%;
  background-image: url("images/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-inner {
  color: #fff;
  width: 20%;
  margin-top: 4rem;
  margin-left: 5rem;
}

.right-inner h3 {
  font-size: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.right-inner p {
  font-size: 10px;
}

.button-1, .button-2 {
  padding: 5px;
  color: red;
  border-color: red;
  border-radius: 5px;
}

.buttons {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.slide-show {
  display: flex;
  margin-left: 30rem;
}

.slide {
  width: 25px;
  height: 8px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: .5rem;
}

.body {
  display: flex;
}

.body-content {
  width: 89%;
}

.content {
  background-color: #F4F9FF;
  margin-top: 1rem;
}

.books {
  display: flex;
  margin-bottom: 1.5rem;
}

.book {
  margin-left: 2rem;
  margin-top: 1rem;
}

.book h5 {
  margin-top: .5rem;
}
h5{
  font-weight: bold;
}

.books img:not(.half) {
  width: 120px;
  height: 120px;
}
.half {
  height: 120px;
}

.body-content span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 2rem;
}

.row {
  display: flex;
  margin-top: 2rem;
}

.rows {
  margin-left: 3rem;
  margin-right: 2rem;
}

.row3 {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}

.row p:not(.row p:first-child, .row p:last-child) {
  margin-left: 5rem;
}

.row p:last-child {
  margin-left: 3rem;
}

.row h3:first-child, .row p:first-child {
  margin-left: 5rem;
}


#title {
  margin-left: 11rem;
}

#author {
  margin-left: 8rem;
}

#price {
  margin-left: 7rem;
}

#time {
  margin-left: 5rem;
}

#option {
  margin-left: 7rem;
}

.show-more {
  margin-left: 30rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
}

.download {
  width: 18px;
  height: 18px;
}

.show-more img {
  margin-left: 5px;
  margin-top: 5px;
}

#dd {
  margin-left: 7rem;
}

#fay {
  margin-left: 3rem;
}

#num {
  margin-left: 7rem;
}

#num2 {
  margin-left: 6rem;
}

